
{{#mdl-nav title='Playwrite' fixedHeader=true}}
  {{mdl-nav-item name='Buttons'   route='buttons'}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
  		{{outlet}}
	</div>
  </div>
{{/mdl-nav}}